@import "../../../styles/variables.css";

.input-wrapper input{
  border: none;
  border-radius: 8px 0 0 8px;
  background-color: var(--gray-secondary-bg);

  color: var(--text-color);
  font-size: 16px;
  padding: 12px 0 12px 20px;
  width: 100%;
}

.input-wrapper label{
  color: var(--text-color);
  font-size: 16px;
  text-align: start;
  margin-bottom: 10px;
}

.input-content{
  display: flex;
  width: 100%;
  border-radius: 8px;
}

.input-content .icon{
  padding: 12px;
  background-color: var(--primary-color);
  border-radius: 0 8px 8px 0;
}

.icon img{
  max-height: 20px;
}
